@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';


*, *::before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.strikethrough {
  text-decoration: line-through !important;
}

.todo-item:nth-child(odd) {
  background-color: #f5f5f5;
}

.todo-item:nth-child(even) {
  background-color: #ffffff;
}